.exercise__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.exercise__inner {
  display: flex;
  position: relative;
  border-radius: 2.5rem;
  border: 1px solid var(--text-color);
  text-transform: uppercase;
  font-size: 0.8rem;
}
.exercise__name {
  padding: 0.5rem 1rem;
}
.exercise__weight {
  align-self: stretch;
  display: flex;
  align-items: center;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 0.5rem 1rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}
