.preview,
.preview__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
}
.preview {
  gap: var(--gap-children);
}
.items__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
