.about__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-children);
}
.about__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__content li {
  list-style: symbols(-);
  /* margin-left: 1rem; */
  list-style-position: inside;
}
.about__list {
  display: flex;
  flex-direction: column;
}
.about__inner ol {
  gap: 1rem;
}
