.about__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-children);
  text-align: justify;
}
.about__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__content li {
  list-style: symbols(-);
  margin-left: var(--padding);
}
.about__list {
  display: flex;
  flex-direction: column;
}
