.btns__row,
.btns__col {
  padding: 0 var(--padding);
  margin-bottom: var(--padding);
  z-index: 0;
}
.btns__row {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.btns__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
}
.btns__col__select {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn__select {
  position: relative;
  font-family: FormulaCondensedRegular;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  margin-top: -1px;
  cursor: pointer;
}

.btn__select::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, #dae2f8 0%, #d6a4a4 100%);
}
.btn__select::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, #dae2f8 0%, #d6a4a4 100%);
}
.btn__selected {
  background: linear-gradient(90deg, #dae2f8 0%, #d6a4a4 100%);
  color: var(--bg-color);
}
.absolute {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  background: var(--bg-color);
  z-index: 0;
}
.loginForm {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.btn {
  font-family: FormulaCondensedRegular;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem 0;
  border-radius: 2.5rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  flex: 1;
}
.btn span {
  display: block;
  height: 1.1rem;
  line-height: 1.3;
  text-align: center;
}
.btn__select span {
  font-family: NeueMachina;
  font-size: 0.8rem;
}
.primaryBtn {
  background: linear-gradient(90deg, #dae2f8 0%, #d6a4a4 100%);
  border-radius: 2.5rem;
  color: var(--bg-color);
}
.secondaryBtn {
  background: #191919;
}
/* create-plan btns */

@media (min-width: 1200px) {
  .fixed {
    width: 470px;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }
  .btns__col {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .btns__col {
    width: 450px;
  }
  .btns__row {
    width: 450px;
  }
  .absolute {
    width: 450px;
  }
}
