.form__btns {
  place-self: center;
  display: flex;
  gap: 0.5rem;
}
.absolute {
  position: absolute;
  bottom: 2rem;
}
.loginForm {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.btn {
  font-family: "Formula Condensed";
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 2.5rem;
}
.form__btns span {
  display: block;
  height: 1.1rem;
}
.primaryBtn {
  background-color: #141414;
  padding: 0.75rem 1.5rem;
  border-radius: 2.5rem;
  color: #f2f2f2;
}
.secondaryBtn {
  border: 1px solid #141414;
  padding: 0.75rem 1.5rem;
}
.arrowBtn {
  padding: 0.75rem;
}
.arrowBtn span {
  width: 1.25rem;
  text-align: center;
  line-height: 1.1;
}
