.content__wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.content__wrapper header {
  margin-top: var(--padding);
}
.added__exercises {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-children);
}
.added__exercises__inner {
  text-transform: uppercase;
  border: 1px solid var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  cursor: pointer;
}
.relative {
  position: relative;
}
.btn__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
