.exercise__details__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-children);
  transform: scaleY(0);
  height: 0;
  margin: -1rem 0;
}
.exercise__details__wrapper button {
  animation-play-state: paused;
}
.show {
  transform: scaleY(100%);
  height: auto;
  margin: 0;
}
.exercise__details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exercise__inner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  background: var(--bg-color);
  border-radius: 1rem;
  border: solid 1px #7d7d7d;
}
.exercise__name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-transform: capitalize;
}
.exercise__rm {
  font-size: 0.9rem;
  background-image: linear-gradient(
    103.3deg,
    rgba(252, 225, 208, 1) 30%,
    rgba(255, 173, 214, 1) 55.7%,
    rgba(162, 186, 245, 1) 81.8%
  );
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1200px) {
  .exercises__wrapper {
    width: 100% !important;
  }
  .exercises__wrapper {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .exercises__wrapper {
    width: auto;
  }
  .exercises__wrapper {
    width: 450px;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
