.home__header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--padding) 0;
}
.home__main {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.home__inner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.home__plan {
  background: hsla(61, 37%, 65%, 0.8);
  color: var(--bg-color);
}
.home__inner__disabled {
  pointer-events: none;
  opacity: 0.75;
}
.home__exercises {
  background: hsla(254, 74%, 36%, 0.8);
}
.home__planInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .home__main {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .home__header {
    width: 450px;
  }
  .home__main {
    width: 450px;
  }
}
@media (min-width: 900px) {
  .home__header {
    width: 450px;
  }
  .home__main {
    width: 450px;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
