.home__header {
  width: 100%;
  margin-top: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1rem;
}
.home__left {
  display: flex;
  align-items: baseline;
  gap: 0.1rem;
}
.home__greeting {
  font-family: FormulaCondensedBold;
  text-transform: uppercase;
  font-size: 2.5rem;
  height: 2.25rem;
}
.home__username {
  text-transform: uppercase;
}
.home__main {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-children);
}
.home__p {
  text-align: center;
  max-width: 25ch;
}

.home__plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home__plan {
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  text-align: center;
  font-family: FormulaCondensedBold;
  font-size: 2.5rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.home__planInner {
  height: 2.25rem;
}
.margin__bottom {
  margin-bottom: var(--padding);
}
@media (min-width: 1200px) {
  .home__plans {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .home__plans {
    width: 450px;
  }
}
@media (min-width: 900px) {
  .home__plans {
    width: 450px;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
