.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.4) 0%, var(--bg-color) 71.87%),
    url(../images/indexBg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.intro__header {
  font-family: FormulaCondensedBold;
  font-size: 6rem;
  line-height: 1.05;
}
.intro__header__line {
  height: 5.25rem;
  text-align: center;
}
.intro__subheading {
  max-width: 28ch;
  text-align: center;
  color: var(--body-text-color);
}

@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
