.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--padding);
  z-index: 1;
}
.arrow__link {
  font-size: 1rem;
}
.text__link {
  text-decoration: underline;
}
