.content__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-children);
}
.form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stacked__group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__heading {
  height: 2.25rem;
  /* overflow: hidden; */
  text-align: center;
  font-family: FormulaCondensedBold;
  font-size: 2.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.form__control {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 2.5rem;
  line-height: 1;
  border: 1px solid var(--text-color);
  text-align: center;
  font-size: 0.8rem;
}
@media (min-width: 1200px) {
  .form__group {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .form__group {
    width: 450px;
  }
}
@media (min-width: 900px) {
  .form__group {
    width: 450px;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
