.content__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding);
}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.4) 0%, var(--bg-color) 71.87%),
    url(../images/signInBg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 0;
}
.form {
  z-index: 1;
}
.form__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-children);
}
.stacked__group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.form__group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__control {
  padding: 1.25rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  background: var(--bg-color);
}
.form__group::after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(74.65deg, #1bb589 0%, #9670ef 100%); */
  /* animation test */
  background-image: linear-gradient(
    103.3deg,
    rgba(252, 225, 208, 1) 30%,
    rgba(255, 173, 214, 1) 55.7%,
    rgba(162, 186, 245, 1) 81.8%
  );
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  animation-play-state: running;
  /* end */
  border-radius: 1rem;
  z-index: -2;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form__control:focus + .gradient__stroke {
  opacity: 0;
}
/* .form__group:hover::after {
  animation-play-state: running;
} */
.gradient__stroke {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333333;
  border-radius: 1rem;
  z-index: -1;
  transition: 0.3s ease-out;
}
.clarification {
  max-width: 27ch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--body-text-color);
}
@media (min-width: 1200px) {
  .form__inner {
    width: 100% !important;
  }
  .form__group {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .form__inner {
    width: auto;
  }
  .form__group {
    width: 450px;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .container {
    min-height: -webkit-fill-available;
  }
  .content__wrapper {
    min-height: -webkit-fill-available;
  }
}
